<h2>Search</h2>
<div class="large-12 columns">
  Filter
</div>

<form class="inline" action="/users" method="get">
  <div class="large-12 columns">
      <div class="row collapse prefix-radius">
        <div class="small-2 columns">
          <span class="prefix">Address</span>
        </div>
        <div class="small-7 columns">
          <input type="text" placeholder="address">
        </div>
        <div class="small-3 columns">
          <input class="tiny round button" type="submit" value="submit">
        </div>
      </div>
    </div>
</form>

Hifhkjdsahjkd
